.section {
  padding: 20px;
}

.certificates-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 60px;
  align-items: flex-start;
  padding-left: 20px;
}

.certificate-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 120px;
}

.certificate-card {
  background-color: #233554;
  border: 1px solid #5078be;
  border-radius: 8px;
  padding: 20px;
  width: 120px;
  height: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s, box-shadow 0.2s;
  margin-bottom: 10px;
}

.certificate-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.certificate-info h3 {
  margin: 0 0 10px;
  font-size: 1.2em;
  color: #ccd6f6;
}

.certificate-info p {
  margin: 5px 0;
  color: #ccd6f6;
  font-size: 0.9em;
}
