.section {
  padding: 20px;
}

.section h2{
  border-bottom: #64ffda 2px solid;
  color: #e6f1ff;
}

.projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
}

.project-card {
  background-color: #233554; /* 다크 네이비/슬레이트 배경 */
  border: 1px solid #5078be; /* 더 밝은 네이비/슬레이트 테두리 */
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
}

.project-card:hover {
  transform: translateY(-5px);
}

.project-image {
  width: 100%;
  height: 200px;
  object-fit: contain;
  background-color: #0a192f; /* 이미지 배경을 어둡게 처리 */
}

.project-info {
  padding: 15px;
  color: #ccd6f6; /* 밝은 텍스트 색상 */
}

.project-info h4 {
  margin-top: 0;
  color: #64ffda; /* 제목에 더 밝은 색상 */
}

.project-info .detailed-description {
  margin-top: 10px;
  font-size: 0.9em;
  color: #a8b2d1; /* 약간 더 부드러운 텍스트 색상 */
}

.project-links {
  display: flex;
  align-items: center;
  margin-top: 15px;
  gap: 15px; /* 버튼과 링크 사이의 간격 */
}

.toggle-button {
  background: #e6f1ff;
  color: #0a192f;
  border: none;
  padding: 8px 12px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.2s, color 0.2s;
  display: inline-flex; /* Flexbox 사용하여 내부 콘텐츠 정렬 */
  align-items: center;
  justify-content: center;
  line-height: normal; /* 라인 높이 정규화 */
}

.toggle-button:hover {
  background: #0a192f;
  color: #e6f1ff;
}

.project-info a {
  text-decoration: none;
  color: #0a192f;
  font-weight: bold;
}

.github-button {
  background: #e6f1ff;
  border: none;
  padding: 8px 12px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.2s, color 0.2s;
  text-decoration: none; /* 링크의 기본 밑줄 제거 */
  display: inline-flex; /* Flexbox 사용하여 내부 콘텐츠 정렬 */
  align-items: center;
  justify-content: center;
  line-height: normal; /* 라인 높이 정규화 */
}

.github-button:hover {
  background: #0a192f;
  color: #e6f1ff;
  text-decoration: none;
}
