.section {
  padding: 20px;
}

.category-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px; /* 카테고리 사이의 간격 */
}

.skill-category h3 {
  color: #ccd6f6;
  border-bottom: 2px solid #64ffda;
  padding-bottom: 10px;
  margin-bottom: 20px;
}

.skills-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 60px;
  align-items: flex-start;
  padding-left: 20px; /* Added for alignment */
}

.skill-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 120px;
}

.skill-card {
  background-color: #233554;
  border: 1px solid #5078be;
  border-radius: 8px;
  padding: 20px;
  width: 120px;
  height: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s, box-shadow 0.2s;
  margin-bottom: 10px;
}

.skill-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.skill-logo {
  height: 100px;
  width: 100px;
  object-fit: contain;
  margin-bottom: 10px;
}

.skill-card span {
  color: #ccd6f6;
  font-weight: bold;
}

.proficiency-bar-container {
  width: 100%;
  background-color: #3a506b;
  border-radius: 5px;
  height: 8px;
}

.proficiency-bar {
  height: 100%;
  background-color: #64ffda;
  border-radius: 5px;
  transition: width 0.5s ease-in-out;
}

.proficiency-text {
  color: #ccd6f6;
  font-size: 0.9em;
  margin-top: 5px;
}

