*{
  color: #fff;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background-color: #112240; /* 콘텐츠 영역에 일관된 배경 설정 */
  padding: 20px;
  border-radius: 8px;
  max-width: 800px;
  width: 90%;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  color: #333;
  max-height: 80vh; /* Limit height to 80% of the viewport height */
  display: flex;
  flex-direction: column;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: #64ffda 2px solid;
  padding-bottom: 10px;
  margin-bottom: 10px; /* Reduced margin */
}

.modal-header h3 {
  margin: 0;
  font-size: 1.5rem;

}

.close-button {
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  color: #aaa;
}

.close-button:hover {
  color: #333;
}

.modal-body {
  text-align: left;
  overflow-y: auto;
  padding-right: 15px;
}

.modal-section {
  margin-bottom: 20px;
}

.modal-section h4 {
  color: #fff;
  border-bottom: 2px solid #64ffda;
  padding-bottom: 5px;
  margin-bottom: 10px;
  font-size: 1.2rem;
}

.modal-body p {
  line-height: 1.6;
  margin-bottom: 10px;
}

.modal-body h2 {
  font-size: 1.8rem;
  margin-top: 20px;
  margin-bottom: 10px;
  border-bottom: 1px solid #eee;
  padding-bottom: 5px;
}

.modal-body h3 {
  font-size: 1.5rem;
  margin-top: 15px;
  margin-bottom: 8px;
}

.modal-body strong {
  font-weight: bold;
  color: #000;
}

.modal-body ul {
  list-style-type: disc;
  margin-left: 20px;
  margin-bottom: 10px;
}

.modal-body li {
  margin-bottom: 5px;
}

.modal-body hr {
  border: 0;
  border-top: 1px solid #eee;
  margin: 20px 0;
}

.modal-image {
  max-width: 100%;
  height: auto;
  border-radius: 4px;
  margin-bottom: 20px;
}

.modal-footer {
  text-align: right;
  margin-top: auto; /* Push footer to the bottom */
  padding-top: 20px;
  border-top: 1px solid #eee;
}

.github-button {
  background: #e6f1ff;
  color: #000;
  padding: 10px 15px;
  text-decoration: none;
  border-radius: 4px;
  transition: background-color 0.3s;
}

.github-button:hover {
  background-color: #555;
}

.asis-tobe-container {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  margin-top: 10px;
}

.asis-section,
.tobe-section {
  flex: 1;
  padding: 15px;
  border-radius: 8px;
  background-color: #0a192f;
}

.asis-section {
  border: 1px solid #ef9a9a; /* Light red border */
}

.tobe-section {
  border: 1px solid #a5d6a7; /* Light green border */
}

.asis-section h4,
.tobe-section h4 {
  margin-top: 0;
  font-size: 1.1em;
  border-bottom: 2px solid;
  padding-bottom: 5px;
  margin-bottom: 10px;
}

.asis-section h4 {
    color: #ef5350; /* Red */
    border-color: #ef5350;
}

.tobe-section h4 {
    color: #66bb6a; /* Green */
    border-color: #66bb6a;
}

.asis-section ul,
.tobe-section ul {
  padding-left: 20px;
  margin-top: 10px;
}

.asis-section li,
.tobe-section li {
  margin-bottom: 8px;
  line-height: 1.6;
}
