.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: var(--bg-primary);
}

.content-container {
  display: flex;
  flex: 1;
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
  padding-top: 60px; /* 헤더 높이만큼 마진 추가 */
  background-color: var(--bg-primary);
}

.main-content {
  flex: 1;
  padding: 20px;
  color: var(--text-primary);
}

#about {
  padding-top: 0px;
  margin-top: 0px;
}

#projects, #skills, #experiences, #certificated {
  scroll-margin-top: 70px;
  color: var(--text-primary);
}